@media only screen and (max-width: 700px) {
	* {
		margin: 0 auto;
		padding:0;
	}
	nav{
		display: all;
		width: 100vw;
		position: fixed;
		height: 70px;
		z-index: 2;
		transition: width 2s, height 2s;
	}



	section#psa {
		width: 100vw;
		font-size: 10px;
		left: 0;
		margin-top: 60px;

	}

	.psa h5{
		font-size: 8px
	}

	.psa i{
		font-size: 20px;
		color:#FBD914; 
		vertical-align: middle;
	}

	.container{
		top:100px;
	}


	nav#white {
		display: none;
	}

	.logo{
		background-size: 70px;
		padding: 5px;
		margin-left: 15vw;
		top: -20px;
		background-repeat: no-repeat;
	}

	.search p{
		display: none;

	}

	.search i{
	top: 5px; 
	left: 5px; 
	vertical-align: middle;
	display: block;
	}

	.search {
		background-color: transparent;
	}

	.iconsearch {
		display: block;
		background-color: transparent;
		color: white;
		margin-top: 25px;
		margin-left: 80vw;
		position: fixed;
	}

	.cart {
		top: -25px;
		background-color: transparent;
	}

	.icon{
		display: block;

	}

	.text {
		display: none;
	}

	.menu {
		font-size: 10px;
		display: block;
		top:-25px;
	}

	section#advertisement {
		flex-direction: column;
		width: 100vw;
		background-size: cover;
		height: 30vh;

	}

	.heading1 h1{
	margin:0;
	line-height: 100%;
	height: 10vh;
	vertical-align: top;
	float: center;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 10px;
	position: relative;
	margin-top: -20px;
	margin-left: -30px

}

}

/*section 1*/
@media only screen and (max-width: 700px) {

section#featured{
		flex-direction: column;
		height: 140vh;
		margin:0;
		float: left;
	}

h1{
	font-size: 20px;
	font-weight: bolder;
	margin-top: -200px;
}

.new{
	display: none;
}
.container {
	flex-direction: column-reverse;
	flex-basis: 100%;
}

.box.desc {
	flex-direction: column;
	transform: translateX(-70px);
	align-content: center;
	flex-basis: 100%;
	width: 300px;
	height: 50px;
	margin-left: 30px;
	margin-top: 20px;
	text-align: left;
	padding-left: 5px;
}

.box.desc h1{
	font-size: 28px;
	margin-top: 10px
}
.box.desc h3{
	flex-basis: 100%;
	font-size: 16px;
	flex-direction: column;
	float: left;
	margin-top: -30px

}

.stock p{  }

.box.desc p{
	flex-basis: 100%;
	font-size: 16px;
	flex-direction: column;
	float: left;

}

.row {
	flex-direction: column-reverse;
	margin: 50px 0;
	line-height: 20px

}

.material-icons{
	width: 24px;
	height: 24px;
}

.column.featured {
	flex-basis: 100%;
	flex-direction: column-reverse;
	margin-top: 50px;
	display: none;
}

.productimg {
	display: none;
}
.container img{
	width: 300px;
	align-items: center;

}

.cir {
	display: none;
}

.box.stock {
	display: none;
}

.box.stock h4{
	display: none;
}

hr{
	display: none;
}

.box.desc {
	width: 300px;
	height: 50px;
	float: left;
	text-align: left;
	padding-left: 5px;
	flex-direction: column;
	

}

.column.featured {
	width: 130px;
	height: 200px;
	margin: 20px;
	margin-top: 30vh;
	margin-left: -20px;
	margin-right: 30px;
	float: left;
	padding: 5px;
	flex-basis: 100%;
white-space: normal;
}

.productimg {
	width: 100px;
	column-span: all;
	height: 100px;
background-color: transparent;
flex-basis
}

.productimg img{
	width: 120px;

}

.button.black2 {
/* Rectangle 9 */

display: none;


}

.socials{
	display: none;
}

.button.product {
	/* Rectangle 9 */

position: absolute;
width: 240px;
height: 40px;
left: 116.4px;
top: 1300px;
text-align: center;
background: black;
border-radius: 37px;
color: white;
font-size: 14px

}

}

/*section2*/
@media only screen and (max-width: 700px) {

	section#ideas{
		height: 920px;
		flex-direction: column-reverse;
	}


.heading2{
	/* More ideas and inspiration */

position: absolute;
width: 100%;
height: 22px;
left: 0px;
top: 1650px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #000000;


}
#ideasinsp{
	/* Rectangle 38 */

position: absolute;
width: 338px;
height: 635px;
left: 38px;
top: 1500px;

background: transparent;

}

.box.ideas.heading {
	background-color: transparent;
	top:-200px;
	width: 100%;
	height: 200px
}

.box.ideas.heading2 {
	/* Special ways to celebrate valentines at home */

top:600px;
	width: 100%;
	height: 200px;
color: #000000;


}
.box.ideas.heading h2{
		/* Special ways to celebrate valentines at home */

/* Special ways to celebrate valentines at home */

position: absolute;
width: 338px;
height: 60px;
left: 38px;
top:180px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;




	}

	

	.box.ideas.heading2 h2{
		/* Special ways to celebrate valentines at home */

position: absolute;
width: 338px;
height: 60px;
left: 38px;
top: 30px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;


		
		
	}

	.box.ideas.heading2 p{
		width: 248px;
		height: 31px;
		margin: 0; 
		color: black;
		text-align: center;
		float: left;
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 20px;
		 margin-top: 10px;
		 left: 80px;
		
	}

	.box.ideas.heading p{
		/* Celebrating Valentine's Day at home will still be memorable with a little arrangement and inviting decoration. */

position: absolute;
width: 248px;
height: 31px;
left: 70px;
top: 240px;

font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;

color: #000000;

	}
	.box.ideas.pic {
	/* page__en_us_1613021166_11_0 1 */

position: absolute;
width: 338px;
height: 120px;
left: 15px;

background: url(images/valentines.jpeg);
background-size: cover;
background-position: center;

}

.box.ideas.pic2 {
	position: absolute;
width: 338px;
height: 120px;
left: 15px;
top: 440px;
	background-image: url(images/dinner.jpeg);
	background-position: center;
	
}
.button.black{
	/* Rectangle 9 */

position: absolute;
width: 300px;
height: 40px;
left: 55px;
top: 320px;

background: #000000;
border-radius: 37px;

	
}
.button.black h4{
	font-size: 14px;
	font-weight: bold;
}

.button.solution2{
	position: absolute;
width: 300px;
height: 40px;
left: 55px;
top:200px;

background: #000000;
border-radius: 37px;

}

.button.solution2 h4{
font-size: 14px;
margin-top: 10px

}
/*section3*/

@media only screen and (max-width: 700px) {


section#collection {
	flex-direction: column-reverse;
	flex-basis: 100%;
	height: 1260px;

	}

	.box.ideas.hauga {
		width: 100%;
		float: center
	}

	.box.ideas.hauga img{
position: absolute;
width: 336px;
height: 336px;
left: 75px;
top: 2480px;



	}

	.box.heading.hauga {
		/* HAUGA */

position: absolute;
width: 120px;
height: 30px;
left: 160px;
top: 2850px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;


	}

	.box.heading.hauga h2{
		/* HAUGA */

position: absolute;
width: 120px;
height: 30px;
left: 30px;
top: 0px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;


	} 

	.box.heading.hauga p{
		/* Thanks to their design, the pieces look naturally joined when placed together adding a made-to-measure dimension. */

position: absolute;
width: 226px;
height: 46px;
left:-25px;
top: 40px;

font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;

color: #000000;


	}

	.box.collections.pic1 {
		display: none;
	}

	.box.collections.pic2 {
		display: none;
	}

	.button.white1{
/* Rectangle 9 */

position: absolute;
width: 200px;
height: 27.26px;
left: -10px;
top: -80px;

background: #FFFFFF;
border: 0.5px solid #000000;
box-sizing: border-box;
border-radius: 37px;


}

.button.white1 h4{
	font-size: 16px;
	margin-top: -5px
}

	.box.ideas.smastad{
	width: 5px;
	height: 5px;
	background-image: url(images/smastad cover.jpeg);
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 250px
}

.box.ideas.smastad img{
	/* page__en_us_1612509391__0 2 */

position: absolute;
width: 336px;
height: 336px;
left: 75px;
top: 3080px;

}

.box.ideas.hsmastad{
	/* HAUGA */

position: absolute;
width: 120px;
height: 51px;
left: 160px;
top: 3150px;


font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;


}

.box.ideas.hsmastad h2{
/* HAUGA */

position: absolute;
width: 120px;
height: 51px;
left: 30px;
top:0px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;


}

.box.ideas.hsmastad p{
	position: absolute;
width: 226px;
height: 46px;
left:-25px;
top: 40px;

font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;

color: #000000;
}

.button.white2{
	position: absolute;
width: 200px;
height: 27.26px;
left: -10px;
top: -80px;

background: #FFFFFF;
border: 0.5px solid #000000;
box-sizing: border-box;
border-radius: 37px;
}

.button.white2 h4{
	font-size: 16px;
	margin-top: -5px
}

/*section4*/
@media only screen and (max-width: 700px) {


section#store {
		flex-direction: column;
		
		height: 200px;
	}
	h1{
		font-size: 24px;
	}

.box.store {
	/* Rectangle 38 */

flex-direction: column;

}


.store.text {
	/* See you at our store! */

position: absolute;
width: 200px;
height: 78px;
left: 0px;
top: 0px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
text-align: center;

color: black;




}
.store.text h1{
	/* See you at our store! */

position: absolute;
width: 338px;
height: 78px;
left: 38px;
top: 3151px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
text-align: center;

color: black;


}

.info {
	/* Before you visit, see IKEA Store and Pick-up Point page for information about offers, events and more. Check out our newest store page, IKEA Kota Baru Parahyangan! */

position: absolute;
width: 338px;
height: 114px;
left: 75px;
top: 3830px;

font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;


}

.button.store{
/* Rectangle 9 */

position: absolute;
width: 324.84px;
height: 60px;
left: 80px;
top: 4000px;

border: 1px solid #000000;
box-sizing: border-box;
border-radius: 37px;


}

.box.store.img{
	width: 200px;
	display: none;
	left: 10px
}

.store.text{
display: block;
top: 500px;
left: 70px
}

.store.text h1{
display: block;
top: 3420px;
left: 10px
}



}

/*section5*/
@media only screen and (max-width: 700px) {


section#footer {
width: 100%;
height: 510px;
top: 4150px;

}
.col-footer h1{
	/* IKEA Family */

position: absolute;
width: 205px;
height: 36px;
left: 120px;
top: 20px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;

color: white;


}

.footer-list{
	display: none;
}

.col-footer h1{
	/* IKEA Family */

position: absolute;
width: 205px;
height: 36px;
left:140px;
top: 250px;

font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;


}

.col-footer2 h4{
	display: none;
}

.col-footer3 h4{
	display: none;
}

.material-icons{
	display: block;
}

.col-footer4 h4{
	display: none;
}
.col-footer p{
	/* Some clubs are for the select few, but IKEA Family is for everyone. Become a Family member and enjoy rewards, discounts, inspirations and a few surprises all year round. */

position: absolute;
width: 260px;
height: 110px;
left: 120px;
top:90px;
text-align: center;

font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;

color: #FFFFFF;



.col-footer2 h1{
	width: 5%;
	margin-top: 10px;
}
.col-footer2 p{
	width: 5%;
	margin-top: 10px;
	font-size: 10px;
}

.col-footer{
	display: none;
}
.col-footer2{
	display: none;
}
.col-footer3{
	display: none;
}
.col-footer4{
	display: none;
}



section#footer2{
margin:0;
	background-color: white;
	width: 100%;
	height: 20px; 
	float: left;
	z-index: 2;
}
.footer2.box{
	font-size: 12px;
	width: 40%;
	margin-left: 40px;
	padding-top: 25px;
	color: black;
	float: left;
	padding-bottom: 25px;
	top: 300px;
}
.footer2.box2{
display: none;
}


}