@media only screen and (max-width: 500px) {
* {
		margin: 0 auto;
		padding:0;
	}
	nav{
		display: all;
		width: 100vw;
		position: fixed;
		height: 70px;
		z-index: 2;
		transition: width 2s, height 2s;
	}



	section#psa {
		width: 100vw;
		font-size: 10px;
		left: 0;
		margin-top: 60px;

	}

	.psa h5{
		font-size: 8px
	}

	.psa i{
		font-size: 20px;
		color:#FBD914; 
		vertical-align: middle;
	}



	nav#white {
		display: none;
	}

	.logo{
		background-size: 70px;
		padding: 5px;
		margin-left: 15vw;
		top: -20px;
		background-repeat: no-repeat;
	}

	.search p{
		display: none;

	}

	.search i{
	top: 5px; 
	left: 5px; 
	vertical-align: middle;
	display: block;
	}

	.search {
		background-color: transparent;
	}


	.cart {
		top: -25px;
		background-color: transparent;
	}

	.icon{
		display: block;

	}


	.menu {
		font-size: 10px;
		display: block;
		top:-25px;
	}

	.iconsearch {
		display: block;
		background-color: transparent;
		color: white;
		margin-top: 25px;
		margin-left: 80vw;
		position: fixed;
	}

/*section 1*/
@media only screen and (max-width: 700px) {

section#head {
	height: 85vh
}

.headline h1{
	font-size: 24px;
	margin-top: -30px;
	float: center;
	padding: 5px;

}

.coverpic{
	width: 100%;
    height: 250px;
    margin-top: -30px;
}

.heading1 h1{
	font-size: 20px;
	align-content: center;
	padding: 5px;
	padding-right: 30px;
	line-height: 30px
}

.intro p{
	font-size: 16px;
	line-height: 20px;
	padding: 5px;
	padding-right: 20px;


}

}

/*section 2*/

	section#productslarge {
		height: 91vh;
	}

	.box.ideas.sections img{
	width: 300px;
	margin-left: 25px;
	align-content: center;
}

	.box.text{
		width: 300px;
		height: 100px;
		text-align: center;
		float: left;
		flex-basis: 100%;
		flex-direction: column-reverse;
		margin: 0 auto;
		margin-top: -200px;

	}

	.box.text h2{ 
	
	font-size: 20px; 
	float: center;
	flex-direction: column;
	flex-basis: 70%;
	padding: 5px;


	 }

	 .box.text p{ 
	
	font-size: 14px; 
	float: center;
	flex-direction: column-reverse;
	flex-basis: 100%;
	text-align:justify;
	margin-top: 5px

	 }

	 .button.more1 {
	width: 200px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-width: 0.25px;
	margin-top: 90px ;
	float: center;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 0;
	margin-left: 50px
}

.button.more2 {
	width: 200px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-width: 0.25px;
	margin-top: 70px ;
	float: center;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 0;
	margin-left: 50px}

.button.more3 {
	width: 200px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-width: 0.25px;
	margin-top: 50px ;
	float: center;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 0;
	margin-left: 50px
}

.button.more4 {
	width: 200px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
	border-width: 0.25px;
	margin-top: 50px ;
	float: center;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 0;
	margin-left: 50px
}

/*section 3*/
section#filter {
	display: none;
}

.filters p{
	display: none;
}

section#exp h4{
 font-size: 16px;
 padding: 5px;
 padding-left: 10px;

}

section#exp h5{
display: none;

}

section#exp p{
 display: none;
}

section#productslist{
	height: 150vh
}
.filterlist {
	font-size: 12px;
	display: block;
	float: right;
	cursor: pointer;

}

.box.check {
	display: none;
}
.row-3{
	display: none;
}
.row-4{
	display: none;
}
.row-5{
	display: none;
}

.column {
	width: 130px;
	height: 200px;
	margin: 15px;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	padding: 5px;
	flex-basis: 100%;
	background-color: transparent;
white-space: normal;}

.productimg {
	width: 100px;
	column-span: all;
	height: 100px;
background-color: transparent;
}

.productimg img{
	width: 100px
}

.new{
	display: none;
}

.box.page {
	width: 40px;
	height: 40px;
	margin-left: 30%

}

.box.page p{
	vertical-align: middle;


}

.column h3{
	display: none;
}

.column h2{
	font-size: 16px;
	position: initial;
}

.column p{
	display: none;
}
}
}

}