*{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	font-family: 'Noto Sans', sans-serif;
}

.background{
position: absolute;
width: 100%;
height: 100vh;
left: 0px;
top: 0px;

background: url(images/hero.jpeg);
background-size: cover;
overflow: hidden;

}

#back {
	display: none;
}

#mobilemenucontainer {
	display: none;
}


#mobilemenuclose{
	display: none;
}

.menu {
	/* MENU RECTANGLE */

position: absolute;
width: 300px;
height: 100vh;
left: 567px;
top: 0px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;

}

.logo {

position: fixed;
width:200px;
height: 200px;
left: 610px;
top: 0px;

background: url(images/logo.jpeg);
background-size: cover;

}

.welcome{
	/* WELCOME */

position: absolute;
width: 262px;
height: 67px;
left: 15px;
top: 238px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;


}

.to{
	/* TO */

position: absolute;
width: 98px;
height: 17px;
left: 95px;
top: 300px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #000000;


}

.background img{
	/* image 2 */

	/* image 2 */

	position: absolute;
	width: 216px;
	height: 170px;
	left: 40px;
	top: 322px;

	background: url(images/logo.jpeg);
	background-position: center;
	background-size: cover;


}

.menulist {

position: fixed;
width: 30px;
height: 273px;
left: 140px;
top: 180px;
line-height: 50px;
text-align: center;
background-color: transparent;
cursor: pointer;

}

.about {
/* About */

position: fixed;
width: 39.43px;
height: 10.78px;
left: 697.22px;
top: 194px;

background: transparent;

}

#abb{
	position: fixed;
width: 39.43px;
height: 10.78px;
left: 697.22px;
top: 194px;

background: transparent;
}

.menuoption{

/* Menu */

position: fixed;
width: 35.36px;
height: 10.14px;
left:697.22px;
top: 244.64px;

background: white;


}

.promo {
	/* Promo */

position: fixed;
width: 41.9px;
height: 10.14px;
left: 695.43px;
top: 294.64px;

background: transparent;

}

.shop{ 

	/* Shop */

position: fixed;
width: 31.94px;
height: 14px;
left: 701.09px;
top: 344px;

background: transparent;

 }

.blog {

	/* Blog */

position: fixed;
width: 27.25px;
height: 14px;
left: 703.54px;
top: 393px;

background: transparent;


}

.locations {
	/* Locations */

position: fixed;
width: 60.91px;
height: 10.46px;
left: 687px;
top: 441.32px;

background: transparent;

}

.contact {
	/* Contact */

position: fixed;
width: 49.5px;
height: 10.28px;
left: 692.61px;
top: 495.5px;

background: transparent;


}


.language {

position: absolute;
width: 150px;
height: 80px;
left: 80px;
top: 560px;
display: inline-flex;
align-items: center;
background: transparent;

}



.select{

position: absolute;
width: 40px;
height: 17px;
left: 660px;
top: 590px;
border-radius: 5px;

background: #000000;

}

.copyright {
	/* © 2021 SEJIWA COFFEE */

position: absolute;
display: block;
width: 93px;
height: 11px;
left: 95px;
top: 675px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 11px;

color: #5c5c5c;


}

/*SECTION 1*/

#left {

	position: fixed;
	width: 568px;
	height: 100vh;
	left: 0px;
	top: 0px;
	visibility: hidden;

	background: url(images/wolf.jpeg);
	background-position: center;
	background-repeat: no-repeat;

}

#right {

position: fixed;
width: 595px;
height: 100vh;
right: 0px;
top: 0px;
visibility: hidden;

background: #FFFFFF;

}




.about:hover #left {
	visibility: visible;
	opacity: 1;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.about:hover #right {
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

hr {

position: absolute;
width: 100px;
height: 0px;
left: 248px;
top: 256px;

visibility: hidden;

border: 1px solid #000000;


}

#right h1{

position: absolute;
width: 492px;
height: 67px;
left: 52px;
top: 189px;

visibility: hidden;

font-weight: 500;
font-size: 32px;
line-height: 44px;
text-align: center;

color: #000000;


}

#right p{

position: absolute;
width: 492px;
height: 127px;
left: 52px;
top: 303px;

visibility: hidden;

font-size: 18px;
line-height: 25px;
font-weight: 200px;
text-align: center;
word-wrap: break-word;

color: #000000;
}

.about:hover #right h1{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

.about:hover #right hr{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

.about:hover #right p{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

.about:hover{

position: fixed;
width: 72px;
height: 25px;
left: 684px;
top: 205px;
background: #000000;
color: white;
border-radius: 91px;
white-space: nowrap;
vertical-align: text-top;

}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.btn {

position: absolute;
width: 150px;
height: 32px;
left: 223px;
top: 477px;
visibility: hidden;

background: transparent;
border-radius: 23px;

}

.btn.text{

/* FIND OUT MORE */

position: absolute;
height: 26px;
left: 0px;
top: 7px;

visibility: hidden;

font-style: normal;
font-family: Gafata;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #C7747C;
background-color: transparent;

}


.about:hover .btn {
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

.about:hover .btn p{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

/*Section 2*/

#left2 {
	/* image 5 */

position: fixed;
width: 568px;
height: 100vh;
left: 0px;
top: 0px;

background: url(images/kopijiwa.jpg);
background-position: center;
visibility: hidden;

}

#right2 {

position: fixed;
width: 595px;
height: 100vh;
right: 0px;
top: 0px;
visibility: hidden;

background: #FFFFFF;

}

.sub{

/* TRY OUR SIGNATURE DRINK! */

position: absolute;
width: 196px;
height: 25px;
left: 199px;
top: 125px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #C7747C;

}

#right2 h1 {
	/* ES KOPI JIWA */

position: absolute;
width: 282px;
height: 44px;
left: 157px;
top: 182px;

font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #000000;

}

#right2 hr{
	/* Line 1 */

position: absolute;
width: 100px;
height: 0px;
left: 248px;
top: 258px;
visibility: hidden;

border: 1px solid #000000;

}

#right2 h3 {
	/* OUR SIGNATURE ICED COFFEE WITH HOMEMADE RECIPE */

position: absolute;
width: 352px;
height: 66px;
left: 119px;
top: 290px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 27px;
text-align: center;

color: #000000;


}

#right2 h4 {
	/* Rp 29.500 - S Rp 35.000 - L */

position: absolute;
width: 208px;
height: 66px;
left: 191px;
top: 403px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #000000;


}

.menuoption:hover #right2 hr{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}
.menuoption:hover{

position: fixed;
width: 72px;
height: 25px;
left: 684px;
top:250.64px;
background: #000000;
color: white;
border-radius: 91px;
white-space: nowrap;
vertical-align: text-top;

}

#abb2{
position: fixed;
width: 39.43px;
height: 10.78px;
top: 240px;
left: 698px;


background: transparent;
}

#abb2:hover{
position: fixed;
width: 39.43px;
height: 10.78px;
left: 698px;
top:240px;


background: transparent;
}

.button.right2 {
/* Rectangle 2 */

position: absolute;
width: 150px;
height: 32px;
left: 223px;
top: 530px;

background: transparent;
border-radius: 23px;
font-family: Gafata;
color: #C7747C;
font-size: 14px

}

#right2 p{
	/* SEE ALL MENU */

position: absolute;
width: 128px;
height: 26px;
left: 234px;
top: 541px;

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #FFFFFF;


}
/*section 3*/

#left3 {
	
position: fixed;
width: 568px;
height: 100vh;
left: 0px;
top: 0px;

background: url(images/promo.jpg);
background-position: center;
visibility: hidden;

}

#right3 {

position: fixed;
width: 595px;
height: 100vh;
right: 0px;
top: 0px;
visibility: hidden;

background: #FFFFFF;

}


#right3 p{

/* PROMO */

position: absolute;
width: 196px;
height: 25px;
left: 196px;
top: 100px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #C7747C;



}

#right3 a{
	color: inherit;
}

a:visited, a:link{
	color: black;
	text-decoration: none;
}

#right3 h1 {
	/* #StayAtHome, We are coming to you! */

position: absolute;
width: 492px;
height: 67px;
left: 49px;
top: 150px;

font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 49px;
text-align: center;

color: black;



}

#right3 h2{
/* ES KOPI JIWA 1 L* */

position: absolute;
width: 352px;
height: 66px;
left: 116px;
top: 325px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 36px;
text-align: center;

color: #000000;

}

#right3 h3{
	/* Rp 150.000 */

position: absolute;
width: 191px;
height: 48px;
left: 206px;
top: 429px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 27px;
text-align: center;

color: #000000;


}

.button.right3{
	/* Rectangle 2 */

position: absolute;
width: 200px;
height: 32px;
left: 200px;
top: 500px;

background: transparent;
border-radius: 23px;
color: #C7747C;
font-size: 14px;
font-family: Gafata;

}

.button.right3 h5{
	/* Rectangle 2 */

color: white;

}

#right3 h4{
	/* *TAKEAWAY ONLY */

position: absolute;
width: 196px;
height: 25px;
left: 196px;
top: 591px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #C4C4C4;


}



#right3 hr{/* Line 1 */

/* Line 1 */

position: absolute;
width: 100px;
height: 0px;
left: 245px;
top: 283px;

border: 1px solid black;


}

.promo:hover #right3 hr{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

.promo:hover {
	/* Promo */

position: fixed;
width: 72px;
height: 25px;
left: 685px;
top: 305px;
border-radius: 91px;

background: black;

}

.promo:hover a{
	/* Promo */

position: fixed;
width: 72px;
height: 25px;
left: 685px;
top: 294.64px;
border-radius: 91px;

background: transparent;
color: white;
text-decoration: underline;


}

/*section 4*/

#left4 {
	position: fixed;
width: 568px;
height: 100vh;
left: 0px;
top: 0px;

background: url(images/shop.jpg);
background-position: center;
visibility: hidden;
max-width: 568px
}

#right4 {

position: fixed;
width: 595px;
height: 100vh;
right: 0px;
top: 0px;
visibility: hidden;

background: #FFFFFF;

}

#right4 hr{
	/* Line 1 */

position: absolute;
width: 100px;
height: 0px;
left: 245px;
top: 283px;
visibility: hidden;

border: 1px solid #000000;

}

#right4 h1{
	/* SHOP */

position: absolute;
width: 492px;
height: 67px;
left: 52px;
top: 204px;

font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #000000;


}

#right4 hr{
/* Line 1 */

position: fixed;
width: 100px;
height: 0px;
left: 1090px;
top: 285px;

border: 1px solid #000000;
visibility: hidden;
}

.shop:hover #right4 hr{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

#right4 h2{
	/* Shop everything from our House Blends, Coffee drips, tumblers and even our T-Shirts! */

position: absolute;
width: 492px;
height: 65px;
left: 52px;
top: 322px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;


}

#right4 p{
	/* Click to check out our merchandise. */

position: absolute;
width: 278px;
height: 28px;
left: 159px;
top: 468px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #C7747C;


}

.descs {
	position: fixed;
width: 31.94px;
height: 14px;
left: 701.09px;
top: 344px;

background: transparent;
}

.descs; hover{
	color: white
}

.shop:hover {
	/* Promo */

position: fixed;
width: 72px;
height: 25px;
left: 685px;
top: 355px;
border-radius: 91px;
color: white;

background: black;

}

/*section 5*/
#left5 {
	position: fixed;
width: 568px;
height: 100vh;
left: 0px;
top: 0px;

background: url(images/jokowi.jpeg);
background-position: center;
visibility: hidden;
}

#right5 {

position: fixed;
width: 595px;
height: 100vh;
right: 0px;
top: 0px;
visibility: hidden;

background: #FFFFFF;

}

.descb{
	position: fixed;
width: 27.25px;
height: 14px;
left: 703.54px;
top: 393px;

background: transparent;
}

.descb; hover{
	color: white
}

.blog:hover {
	/* Promo */

position: fixed;
width: 72px;
height: 25px;
left: 685px;
top: 405px;
border-radius: 91px;
color: white;

background: black;

}

#right5 h1{
	/* A VISIT FROM PRESIDENT JOKOWI */

position: absolute;
width: 492px;
height: 67px;
left: 52px;
top: 215px;

font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #000000;


}

#right5 h2{
	/* On 20 January 2018, Sejiwa Coffee got a surprise visit from the President. */

position: absolute;
width: 492px;
height: 65px;
left: 52px;
top: 362px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;
line-height: 20px;

color: #000000;


}

#right5 p{
/* Click to find out more */

position: absolute;
width: 278px;
height: 28px;
left: 110px;
top: 100px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #C7747C;



}

#right5 hr{
/* Line 1 */

position: absolute;
width: 100px;
height: 0px;
left: 248px;
top: 338px;

border: 1px solid #000000;

}

.blog:hover #right5 hr{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

/*section 6*/
#left6 {
	position: fixed;
width: 568px;
height: 100vh;
left: 0px;
top: 0px;

background: url(images/resto.jpeg);
background-position: center;
visibility: hidden;
}

#right6 {

position: fixed;
width: 595px;
height: 100vh;
right: 0px;
top: 0px;
visibility: hidden;

background: #FFFFFF;

}

#right6 img{

position: absolute;
left: 45.42%;
right: 44.41%;
top: 30%;
bottom: 54%;


width: 80px;
height: 80px;
background-color: white;



}

#right6 h1{
	/* Jl. Progo No.15, Citarum, Kec. Bandung Wetan, Kota Bandung, Jawa Barat 40115 */

position: absolute;
width: 492px;
height: 65px;
left: 52px;
top: 350px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;


}

#right6 hr{
/* Line 1 */

position: absolute;
width: 100px;
height: 0px;
left: 255px;
top: 315px;
visibility: hidden;

border: 1px solid #000000;

}

#right6 p{
	/* FIND US ON MAPS */

position: absolute;
width: 205px;
height: 26px;
left: 195px;
top: 450px;

font-family: Gafata;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #C7747C;


}

.descl {
	position: fixed;
width: 60.91px;
height: 10.46px;
left: 687px;
top: 441.32px;

background: transparent;

}

.locations:hover #right6 hr{
	visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}

.descl:hover {
	color: white;
}

.locations:hover{
position: fixed;
width: 80px;
height: 25px;
left: 680px;
top: 453px;

border-radius: 91px;
color: white;

background: black;
}

.locations:hover a{
	/* Promo */

position: fixed;
width: 72px;
height: 25px;
left: 685px;
top: 294.64px;
border-radius: 91px;

background: transparent;
color: white;
text-decoration: underline;


}

/*section 7*/

#left7 {
	position: fixed;
width: 568px;
height: 100vh;
left: 0px;
top: 0px;

background: url(images/contact.jpg);
background-position: center;
visibility: hidden;
}

#right7 {

position: fixed;
width: 595px;
height: 100vh;
right: 0px;
top: 0px;
visibility: hidden;

background: #FFFFFF;

}

.descc{
	position: fixed;
width: 49.5px;
height: 10.28px;
left: 692.61px;
top: 495.5px;

background: transparent;
}

.contact:hover{
position: fixed;
width: 80px;
height: 25px;
left: 683px;
top: 507.5px;

border-radius: 91px;
color: white;

background: black;
}

#right7 h1{
	/* CONTACT US */

position: absolute;
width: 492px;
height: 67px;
left: 49px;
top: 182px;

font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #000000;


}

#right7 img{
	/* WhatsApp */

/* WhatsApp */

position: absolute;
width: 38px;
height: 38px;
left: -30px;
top: -10px;


background: url(whatsapp.png);

}

#right7 img{
	/* Instagram */

position: absolute;
width: 38px;
height: 38px;

background: url(ig.png);

}

#right7 hr{
	/* Line 1 */

position: absolute;
width: 100px;
height: 0px;
left: 248px;
top: 264px;
visibility: hidden;

border: 1px solid #000000;

}

#right7 h2{
	/* 0823-1717-1515 */

position: absolute;
width: 158px;
height: 32px;
left: 216px;
top: 308px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;


}

#right7 h3{
	/* sejiwacoffee */

position: absolute;
width: 158px;
height: 32px;
left: 216px;
top: 397px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;


}

#right7 p{
	/* www.tokopedia.com/sejiwacoffee */

position: absolute;
width: 310px;
height: 32px;
left: 140px;
top: 486px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;


}

.contact:hover #right7 hr{
visibility: visible;
	animation-name: fadein; 
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1
}
