@media only screen and (max-width: 700px) {
	.background{
		/* image 1 */

/* image 1 */

position: absolute;
width: 580px;
height: 100vh;
left: -80px;
top: 0px;

background: linear-gradient(360deg, #FFFFFF 13.88%, rgba(255, 255, 255, 0.581855) 25.42%, rgba(255, 255, 255, 0) 100%), 
url(../images/hero.jpeg);

background-position: center;
background-size: 1500px;
background-repeat: no-repeat;



	}

#back{
	/* Rectangle 3 */

position: absolute;
width: 252px;
height: 736px;
left: 205px;
top: 0px;

background: #FFFFFF;
display: block;

}

.welcome {
	/* WELCOME */

position: absolute;
width: 262px;
height: 67px;
left:-3px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
text-align: center;
z-index: 1;


color: #000000;


}

.to {
/* TO */

position: absolute;
width: 98px;
height: 17px;
left: 72px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #000000;
z-index: 2


}

.sejiwa{
	/* image 2 */

position: absolute;
width: 200px;
height: 206px;
top: 250px;
left: 20px;

background: url(../images/logo.jpeg);
background-size: cover;
background-repeat: no-repeat;


}

.explore{
	/* Click here to explore */

position: absolute;
width: 137px;
height: 17px;
left: 58px;
top: 520px;

font-family: Gafata;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: center;
z-index: 2;
color: #000000;


}

.material-icons{
	/* Vector */

position: absolute;
left: 120px;
top: 545px;
bottom: 300px;
z-index: 2;

background: transparent;

}

#menuopen{
	/* image 2 */

position: absolute;
width: 200px;
height: 200px;
left: 30px;
top: 530px;
cursor: pointer;

background: url(../images/wolfwoman.png);
background-size: contain;
background-repeat: no-repeat;
border-radius: 20px;

}
	

.logo {
	/* image 2 */

position: absolute;
width: 100px;
height: 78px;
left: 5px;
top: -110px;

background: url(../images/logo.jpeg);
background-size: cover;
border-radius: 20px;


}

.menu {
	/* MENU RECTANGLE */

position: absolute;
width: 100%;
height: 100vh;
left: 0px;
top: 0px;
visibility: hidden;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;

}

.menulist {
	/* Rectangle 4 */

position: absolute;
width: 101px;
height: 340px;
left: 260px;
top: 143px;

background: transparent;

}

.mobileabt {
	/* About */

position: absolute;
width: 98px;
height: 20px;
left:200px;
top: 200px;

font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #5C5C5C;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
z-index: 4;


}


.mobilemenu{
	/* Menu */

position: absolute;
width: 98px;
height: 20px;
left: 200px;
top: 250px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #000000;
background-color: transparent;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;



}


.mobilepromo{
	/* Promo */

position: absolute;
width: 98px;
height: 20px;
left: 200px;
top: 300px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #000000;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;



}

.mobileshop{
	/* Shop */

position: absolute;
width: 98px;
height: 20px;
left: 200px;
top: 350px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #000000;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;


}

.mobileblog{
/* Blog */

position: absolute;
width: 98px;
height: 20px;
left: 200px;
top: 400px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #000000;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;



}

.mobilelocation {
/* Locations */

position: absolute;
width: 98px;
height: 20px;
left: 200px;
top: 450px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #000000;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;



}

.descl{
	top: 415px;
	left: 205px
}

.mobilecontact{
/* Contact */

position: absolute;
width: 98px;
height: 20px;
left: 200px;
top: 500px;

font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;

color: #000000;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;



}

.descc{
	top: 475px;
	left: 210px
}

.mobilelanguage {
	/* Rectangle 4 */

position: absolute;
width: 50px;
height: 22px;
left: 200px;
top: 550px;

display: block;

opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;



}

.mobilelanguage img{
	width: 40px;
	height: 40px;
	left: 30px;
	top: 10px
	
	}

.mobilecopyright {
	/* Rectangle 4 */

position: absolute;
width: 104px;
height: 27px;
left: 200px;
top: 650px;

display: block;

font-family: Gafata;
content: #5c5c5c;
font-size: 10px



}

.menubtn{}

#right {
	display: none;
}
#right2{
	display: none;
}

#right3 {
	display: none;
}

#right4 {
	display: none;
}

#right5{
	display: none;
}
#right6{
	display: none;
}
#right7{
	display: none;
}

#left {
	display: none;
}

#left2{
	display: none;
}

#left3 {
	display: none;
}

#left4 {
	display: none;
}

#left5{
	display: none;
}
#left6{
	display: none;
}
#left7{
	display: none;
}

#mobilemenucontainer {
      width: 100vw;
      height: 100vh;
      position: fixed;
      bottom: -100vh;
      left: 0;
      padding: 0;
      margin: 0;
      background-color: white;
      transition: bottom 0.7s;
      z-index: 2;
      display: block;
    }

 #mobilemenuclose {
position: fixed;
width: 150px;
height: 150px;
left: 175px;
top: 50px;
z-index: 2;

background: url(../images/logo.jpeg);
background-size: cover;
background-repeat: no-repeat;
border-radius: 20px;
opacity: 1;

	animation-name: fadein; 
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;

      display: none;
      cursor: pointer;

    }



    @keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
}




}
}

}