*{
	width: auto;
	height: auto;
}
	/*nav*/
nav{
position: fixed;
width: 315px;
height: 700px;
color:  white;
}
.logo{
position: fixed;
width: 127px;
height: 141px;
left: 94px;
top: 290px;
cursor: pointer;
}

	/*es kopi jiwa*/
section#es.kopi.jiwa{
/* Rectangle 4 */

position: absolute;
width: 573px;
height: 700px;
left: 867px;
top: 0px;

background: #FFFFFF;


}
#EsKopiJiwa.box{
width: 573px;
height: 700px;
left: 867px;
top: 0px;

background: #FFFFFF;

}
.container.jiwa{
position: absolute;
width: 1125px;
height: 700px;
left: 315px;
top: 0px;

background: #FFFFFF;
}
.promo.photo1{
position: absolute;
width: 552px;
height: 700px;
left: 315px;
}
.promo.box1{
position: absolute;
width: 573px;
height: 700px;
left: 867px;
top: 0px;
color: #FFFFFF;
}
.add.to.cart1{
position: absolute;
width: 150px;
height: 32px;
left: 1090px;
top: 599px;
cursor: pointer;

background: #000000;
border-radius: 23px;
}

	/*es kopi raga*/
section#es.kopi.raga{
position: absolute;
width: 1125px;
height: 708px;
left: 315px;
top: 700px;

background: #FFFFFF;
}
.es.kopi.raga{
position: absolute;
width: 1125px;
height: 700px;
left: 315px;
top: 0px;
background-color: white;
}
.promo.photo2{
position: absolute;
width: 552px;
height: 708px;
left: 315px;
top: 700px;
}