*{
margin:0;
padding: 0;
}

.eng.box{
position: fixed;
width: 40px;
height: 17px;
margin-left: 40px;
border-radius: 16px;

background: #000000;
}
.idn.box{
position: fixed;
width: 40px;
height: 17px;
margin-left: 117px;
border-radius: 16px;

background: #FFFFFF;
}
.material-icons{
position: fixed;
width: 17px;
height: 17px;
margin-left: 88px;
margin-top: -3px;
}
#check{
	display: none;
}
label #btn, label #cancel{
	position: absolute;
	cursor: pointer;
}
label #btn{
	position: fixed;
	width: 127px;
	height: 141px;
	left: 94px;
	top: 209px;
	cursor: pointer;
}
label #cancel{
	z-index: 1111;
	left: 158px;
	top: 17px;
	font-size: 30px;
	padding: 4px 9px;

}
#check:checked ~ .sidebar{
	left: 0;
}


